extends layout

block content
  script(src='/javascripts/linechart.js')
  <div id="graph" class="aGraph" style="position:absolute;top:0px;left:0; float:left;"></div>
  <script>lineChart(getData());</script>