doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/nv.d3.css')
  body
    script(src='/javascripts/d3.min.js')
    script(src='/javascripts/nv.d3.min.js')
    block content