doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title NKT-PMS
    //
       Core CSS - Include with every page 
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='font-awesome/css/font-awesome.css', rel='stylesheet')
    //
       Page-Level Plugin CSS - Blank
    link(rel='stylesheet', href='/stylesheets/nv.d3.css') 
    //
       SB Admin CSS - Include with every page 
    link(href='stylesheets/sb-admin.css', rel='stylesheet')
  body
    #wrapper
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0;')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='mainpage') SB Admin v2.0
        //
           /.navbar-header 
      //
         /.navbar-static-top 
      nav.navbar-default.navbar-static-side(role='navigation')
        .sidebar-collapse
          ul#side-menu.nav
            li
              a(href='mainpage')
                i.fa.fa-dashboard.fa-fw
                | Hovedside
            li
              a(href='#')
                i.fa.fa-bar-chart-o.fa-fw
                | Diagrammer
                span.fa.arrow
              ul.nav.nav-second-level
                li
                  a(href='charts') Hopp diagram
                li
                  a(href='charts') Hopp diagram
              //
                 /.nav-second-level 
            li
              a(href='upload')
                i.fa.fa-table.fa-fw
                | Last opp fil
            li
              a(href='forms.html')
                i.fa.fa-edit.fa-fw
                | Forms
            li
              a(href='#')
                i.fa.fa-wrench.fa-fw
                | UI Elements
                span.fa.arrow
              ul.nav.nav-second-level
                li
                  a(href='panels-wells.html') Panels and Wells
                li
                  a(href='buttons.html') Buttons
                li
                  a(href='notifications.html') Notifications
                li
                  a(href='typography.html') Typography
                li
                  a(href='grid.html') Grid
              //
                 /.nav-second-level 
            li
              a(href='#')
                i.fa.fa-sitemap.fa-fw
                | Multi-Level Dropdown
                span.fa.arrow
              ul.nav.nav-second-level
                li
                  a(href='#') Second Level Item
                li
                  a(href='#') Second Level Item
                li
                  a(href='#')
                    | Third Level
                    span.fa.arrow
                  ul.nav.nav-third-level
                    li
                      a(href='#') Third Level Item
                    li
                      a(href='#') Third Level Item
                    li
                      a(href='#') Third Level Item
                    li
                      a(href='#') Third Level Item
                  //
                     /.nav-third-level 
              //
                 /.nav-second-level 
          //
             /#side-menu 
        //
           /.sidebar-collapse 
      //
         /.navbar-static-side 
      #page-wrapper
        .row
          .col-lg-12
            block content
          //
             /.col-lg-12 
        //
           /.row 
      //
         /#page-wrapper 
    //
       /#wrapper 
    //
       Core Scripts - Include with every page 
    script(src='javascripts/jquery.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/jquery.metisMenu.js')
    //
       Page-Level Plugin Scripts - Blank 
    //
       SB Admin Scripts - Include with every page 
    script(src='javascripts/sb-admin.js')
    //
       Page-Level Demo Scripts - Blank - Use for reference 
