extends mainLayout

block content
  script(src='/javascripts/d3.v3.js')
  script(src='/javascripts/nv.d3.js')
  script(src='/javascripts/testline.js')
  <div id='chart'><svg style='height:500px'></svg></div>