extends layouts/layout

block head
	script(src="/javascripts/d3.min.js", charset="utf-8")
	script(src="/javascripts/nv.d3.min.js", charset="utf-8")
	link(rel='stylesheet', href='/stylesheets/graph.css')
	link(rel='stylesheet', href='/stylesheets/nv.d3.css')
	
	
block content
	div(id="chart")
		<svg></svg>
	script(src="/javascripts/linechart.js")
